$header-padding: 10px;
$header-height: 70px;
$header-font-size: 28px;
$header-background: rgb(45, 45, 46);
$header-border: rgb(145, 145, 146);
$title-hover-background: rgb(35, 35, 35);
:host{height:$header-height;line-height:$header-height;font-size:$header-font-size;background:$header-background;border-bottom:1px solid $header-border;flex:1 100%;cursor:default;display:inline-block;padding:0 $header-padding 0 $header-padding}